@import "reset";
@import "variables";
@import "mixins";
@import "components/allComponents.scss";
@import "extend";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(src/scss/font/stylesheet.css);

body {
  font-family: 'Inter', sans-serif;
  background-color: #F5F3EA;
}

.container {
  width: auto;
  background: #f5f3ea;
  //////////////////////////////HEADER
  .header__logo {
    padding: 70px 40px;
    width: auto;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
  span{
    color: #000;
text-align: center;
font-family: Gilroy;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: normal;
  }
  }
  .header__studio-name{
    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.7px;
  }
  .header__studio-studio{
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.7px;
    text-transform: uppercase;
  }
  .header__studio-logo{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    span:not(:nth-last-child(2)){
        margin-right: 5px;
    }
    div{
        height: 38px;
        align-items: start;
    }
  }
  .header__profile-name{
    color: #252525;
    font-family: Gilroy;
    font-size: 150px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
  }
  .header__profile-job{
    color: #252525;
text-align: center;
font-family: Gilroy-SemiBold;
font-size: 150px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
  }
  .header__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
  }
  .header__hero-image {
    height: auto;
    width: 100%;
  }
  .header__arrow-downside {
    display: flex;
    justify-content: center;
  }
  .header__profile-hero-about {
    width: auto;
  }
  .header__profile-text {
    padding-left: 70px;
    margin-right: 70px;
    color: #252525;
    font-family: Gilroy;
    font-size: 62px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    .header__profile-text-boled {
      color: #252525;
      font-family: Gilroy;
      font-size: 62px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }
  .header__hero-description {
    padding: 70px 0px;
    width: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #252525;
    .header__profile-about {
      background: #252525;
      padding-right: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      .header__profile-about-nested-ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .header__profile-about-text {
        color: #fff;
        text-align: right;
        font-family: Gilroy-Medium;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
      }
      .header__profile-about-ul{
        padding-left: 100px;
            li{
                padding: 15px 0px 0px 15px;
            }
      }
    }
  }
  .header__logos-after {
    display: flex;
    padding: 70px 70px;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    border-bottom: 1px solid #252525;
  }
  .header__logo-after-border{
    padding: 15px 40px;
    border-radius: 50px;
background: #FFF;
  }
  ///////////////////////////////SELECTED WORK
  .selected-work__container {
    .selected-work__button-white {
      border-radius: 50px;
      background: #fff;
      padding: 15px 30px;
      margin-right: 30px;
      color: #252525;
font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .selected-work__title {
      padding-top:70px;
      border-top: 1px solid black;
      color: #252525;
      text-align: center;
      font-family: Gilroy;
      font-size: 212px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 8.48px;
      text-transform: uppercase;
    }
    .selected-work__block-row {
      display: flex;
      gap: 20px;
      justify-content: center;
      width: 100%;
      .selected-work__block-image {
        height: 567px;
        width: 567;
      }
      .selected-work__title-block {
        color: #000;
font-family: Gilroy-Bold;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 44px; /* 110% */
text-transform: uppercase;
      }
      .selected-work__buttons {
        display: flex;
        margin-top: 30px;
      }
      .selected-work__button-black {
        padding: 10px 30px;
        border-radius: 50px;
        background: #252525;
        display: flex;
        align-items: center;
        .selected-work__button-name {
          color: #fff;
          padding-right: 10px;
          font-family: Gilroy-Medium;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;
        }
      }
      .selected-work__block-description {
        justify-content: left;
        width: 100%;
      }
      .selected-work__block {
        display: flex;
        max-width: 567px;
        width: auto;
        margin: 35px 20px;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        align-self: stretch;
      }
      .selected-work__black-button-position{
        display: flex;
        width: 100%;
        justify-content: end;
      }
    }
    .selected-work__all-work-button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #252525;
font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 50px;
    }
    .selected-work__after-padding {
      padding-bottom: 100px;
      width: 100%;
      border-bottom: 1px solid #252525;
    }
  }
  ///////////////////////////////////////////////////OUR TEAM
  .our-team__title{
    padding-top: 50px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
font-family: Gilroy;
font-size: 200px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 8.48px;
text-transform: uppercase;
padding-top: 50px;
margin-bottom: 50px;
  }
  .our-team__team-member-name{
    color: #333;
font-family: Gilroy;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
  }
  .our-team__team-member-job{
    color: #333;
font-family: Gilroy-Medium;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .our-team__team-member-social{
    display: flex;
    justify-content: end;
  }
  .our-team__container{
    padding-bottom: 50px;
    .our-team__block-row{
        display: flex;
        justify-content: center;
        width: 100%;
        .our-team__block{
            max-width: 415px;
            max-height: 633px;
            width: 100%;
            .our-team__team-member-photo{
                width: 415px;
                height: 507px;
            }
        }
        .our-team__block:not(:last-child){
            margin-right: 40px;
        }
        li:not(:last-child){
            margin-right: 10px;
        }
        .our-team__join-the-team{
            width: 870px;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            p{
                color: #333;
font-family: Gilroy-Regular;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
            }
            .our-team__tagline{
                color: #333;
font-family: Gilroy-Bold;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
            }
            .our-team__button{
                display: flex;
                align-items: center;
                border-radius: 50px;
                background: #252525;
                padding: 10px 30px;
                color: #FFF;
                font-family: Gilroy-Medium;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
            }
        }
    }
}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 768px) and (max-width: 1200px) { ////////////////////////////////////////////////////////////////////////////////TABLE
  .container{
    width: auto;
    background: #f5f3ea;
    //////////////////////////////HEADER
    .header__logo {
      padding: 50px 30px;
      width: auto;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
    span{
      color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
    }
    }
    .header__studio-name{
      color: #000;
      text-align: center;
      font-family: Gilroy;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.7px;
    }
    .header__studio-studio{
      color: #000;
      font-family: Gilroy-Medium;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.7px;
      text-transform: uppercase;
    }
    .header__studio-logo{
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      span:not(:nth-last-child(2)){
          margin-right: 5px;
      }
      div{
          height: 32px;
          align-items: start;
      }
    }
    .header__profile-name{
        text-align: center;
      color: #252525;
      font-family: Gilroy;
      font-size: 130px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: capitalize;
    }
    .header__profile-job{
      color: #252525;
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: 130px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
    }
    .header__profile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 25px;
    }
    .header__hero-image {
      height: auto;
      width: 100%;
    }
    .header__arrow-downside {
      display: flex;
      justify-content: center;
    }
    .header__profile-hero-about {
      width: auto;
    }
    .header__profile-text {
      padding-left: 70px;
      padding-bottom: 30px;
      margin-right: 70px;
      color: #252525;
      font-family: Gilroy;
      font-size: 62px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      .header__profile-text-boled {
        color: #252525;
        font-family: Gilroy;
        font-size: 62px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
    }
    .header__hero-description {
      padding: 70px 0px;
      width: auto;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #252525;
      .header__profile-about {
        background: #252525;
        display: flex;
        justify-content: end;
        align-items: center;
        width: auto;
        .header__profile-about-nested-ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
  
        .header__profile-about-text {
          color: #fff;
          text-align: right;
          font-family: Gilroy-Medium;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 100% */
          text-transform: uppercase;
        }
        .header__profile-about-ul{
          padding-left: 100px;
              li{
                  padding: 15px 0px 0px 15px;
              }
        }
      }
    }
    .header__logos-after {
      ul {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      li:nth-child(3) {
        width: 32%;
      }
      border-bottom: 1px solid #252525;
    }
    .header__logo-after-border{
      padding: 15px 40px;
      border-radius: 50px;
  background: #FFF;
    }
    ///////////////////////////////SELECTED WORK
    .selected-work__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .selected-work__works{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
      .selected-work__button-white {
        border-radius: 50px;
        background: #fff;
        padding: 15px 30px;
        margin-right: 30px;
        color: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
      }
      .selected-work__title {
        color: #252525;
        text-align: center;
        font-family: Gilroy;
        font-size: 180px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 8.48px;
        text-transform: uppercase;
      }
      .selected-work__block-row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        width: 100%;
        .selected-work__block-image {
          height: auto;
          max-width: 567;
        }
        .selected-work__title-block {
          color: #000;
  font-family: Gilroy-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
  text-transform: uppercase;
        }
        .selected-work__buttons {
          display: flex;
          margin-top: 30px;
        }
        .selected-work__button-black {
          padding: 10px 30px;
          border-radius: 50px;
          background: #252525;
          display: flex;
          align-items: center;
          .selected-work__button-name {
            color: #fff;
            padding-right: 10px;
            font-family: Gilroy-Medium;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
          }
        }
        .selected-work__block-description {
          justify-content: left;
          width: 100%;
        }
        .selected-work__block {
          display: flex;
          max-width: 780px;
          width: auto;
          margin: 35px 20px;
          width: auto;
          height: auto;
          flex-direction: column;
          justify-content: space-between;
          flex-shrink: 0;
          align-self: stretch;
        }
        .selected-work__black-button-position{
          display: flex;
          width: 100%;
          justify-content: end;
        }
      }
      .selected-work__block-row:first-child{
        flex-direction: column-reverse;
      } 
      .selected-work__all-work-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
      }
      .selected-work__after-padding {
        padding-bottom: 100px;
        width: 100%;
        border-bottom: 1px solid #252525;
      }
    }
    ///////////////////////////////////////////////////OUR TEAM
    .our-team__title{
        text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #252525;
  font-family: Gilroy;
  font-size: 200px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 50px;
    }
    .our-team__team-member-name{
      color: #333;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
    }
    .our-team__team-member-job{
      color: #333;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    }
    .our-team__team-member-social{
      display: flex;
      justify-content: end;
    }
    .our-team__container{
      .our-team__block-row{
          display: flex;
          justify-content: center;
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          .our-team__block{
              max-width: 415px;
              max-height: 633px;
              width: 100%;
              .our-team__team-member-photo{
                  width: 415px;
                  height: 507px;
              }
          }
          .our-team__block:not(:last-child){
              margin-right: 40px;
          }
          li:not(:last-child){
              margin-right: 10px;
          }
          .our-team__join-the-team{
            margin-top: 60px;
              width: 870px;
              display: flex;
              justify-content: center;
              align-items: start;
              flex-direction: column;
              p{
                  color: #333;
  font-family: Gilroy-Regular;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
              }
              .our-team__tagline{
                  color: #333;
  font-family: Gilroy-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
              }
              .our-team__button{
                  display: flex;
                  align-items: center;
                  border-radius: 50px;
                  background: #252525;
                  padding: 10px 30px;
                  color: #FFF;
                  font-family: Gilroy-Medium;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  text-transform: capitalize;
              }
          }
      }
  }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 320px) and (max-width: 768px) {//////////////////////////////////////////////////////////////////////////////MOBILE
   .container{
    width: auto;
    background: #f5f3ea;
    //////////////////////////////HEADER
    .header__logo {
      padding: 50px 30px;
      width: auto;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
    span{
      color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
    }
    }
    .header__studio-name{
      color: #000;
      text-align: center;
      font-family: Gilroy;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.7px;
    }
    .header__studio-studio{
      color: #000;
      font-family: Gilroy-Medium;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.7px;
      text-transform: uppercase;
    }
    .header__studio-logo{
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      span:not(:nth-last-child(2)){
          margin-right: 5px;
      }
      div{
          height: 32px;
          align-items: start;
      }
    }
    .header__profile-name{
        text-align: center;
      color: #252525;
      font-family: Gilroy;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: capitalize;
    }
    .header__profile-job{
      color: #252525;
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
    }
    .header__profile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 25px;
    }
    .header__hero-image {
      height: auto;
      width: 100%;
    }
    .header__arrow-downside {
      display: flex;
      justify-content: center;
    }
    .header__profile-hero-about {
      width: auto;
    }
    .header__profile-text {
      padding-left: 70px;
      padding-bottom: 30px;
      margin-right: 70px;
      color: #252525;
      font-family: Gilroy;
      font-size: 30px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      .header__profile-text-boled {
        color: #252525;
        font-family: Gilroy;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
    }
    .header__hero-description {
      padding: 70px 0px;
      width: auto;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #252525;
      .header__profile-about {
        background: #252525;
        display: flex;
        justify-content: end;
        align-items: center;
        width: auto;
        .header__profile-about-nested-ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
  
        .header__profile-about-text {
          color: #fff;
          text-align: right;
          font-family: Gilroy-Medium;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 100% */
          text-transform: uppercase;
        }
        .header__profile-about-ul{
          padding-left: 100px;
              li{
                  padding: 15px 0px 0px 15px;
              }
        }
      }
    }
    .header__logos-after {
      ul {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
       }
    //   li:nth-child(2) {
    //     width: 90%;
    //   }
      border-bottom: 1px solid #252525;
    }
    .header__logo-after-border{
      padding: 15px 40px;
      border-radius: 50px;
  background: #FFF;
    }
    ///////////////////////////////SELECTED WORK
    .selected-work__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .selected-work__works{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
      .selected-work__button-white {
        border-radius: 50px;
        background: #fff;
        padding: 15px 30px;
        margin-right: 30px;
        color: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
      }
      .selected-work__title {
        color: #252525;
        text-align: center;
        font-family: Gilroy;
        font-size: 120px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 8.48px;
        text-transform: uppercase;
      }
      .selected-work__block-row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        width: 100%;
        .selected-work__block-image {
          height: auto;
          max-width: 567;
        }
        .selected-work__title-block {
          color: #000;
  font-family: Gilroy-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
  text-transform: uppercase;
        }
        .selected-work__buttons {
          display: flex;
          margin-top: 30px;
        }
        .selected-work__button-black {
          padding: 10px 30px;
          border-radius: 50px;
          background: #252525;
          display: flex;
          align-items: center;
          .selected-work__button-name {
            color: #fff;
            padding-right: 10px;
            font-family: Gilroy-Medium;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
          }
        }
        .selected-work__block-description {
          justify-content: left;
          width: 100%;
        }
        .selected-work__block {
          display: flex;
          max-width: 500px;
          width: auto;
          margin: 35px 20px;
          width: auto;
          height: auto;
          flex-direction: column;
          justify-content: space-between;
          flex-shrink: 0;
          align-self: stretch;
        }
        .selected-work__black-button-position{
          display: flex;
          width: 100%;
          justify-content: end;
        }
      }
      .selected-work__block-row:first-child{
        flex-direction: column-reverse;
      } 
      .selected-work__all-work-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
      }
      .selected-work__after-padding {
        padding-bottom: 100px;
        width: 100%;
        border-bottom: 1px solid #252525;
      }
    }
    ///////////////////////////////////////////////////OUR TEAM
    .our-team__title{
        text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #252525;
  font-family: Gilroy;
  font-size: 120px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 50px;
    }
    .our-team__team-member-name{
      color: #333;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
    }
    .our-team__team-member-job{
      color: #333;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    }
    .our-team__team-member-social{
      display: flex;
      justify-content: end;
    }
    .our-team__container{
      .our-team__block-row{
          display: flex;
          justify-content: center;
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          .our-team__block{
              max-width: 415px;
              max-height: 633px;
              width: 100%;
              .our-team__team-member-photo{
                  width: 415px;
                  height: 507px;
              }
          }
          .our-team__block:not(:last-child){
              margin-right: 40px;
          }
          li:not(:last-child){
              margin-right: 10px;
          }
          .our-team__join-the-team{
            margin-top: 60px;
              width: 870px;
              display: flex;
              justify-content: center;
              align-items: start;
              flex-direction: column;
              p{
                  color: #333;
  font-family: Gilroy-Regular;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
              }
              .our-team__tagline{
                  color: #333;
  font-family: Gilroy-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
              }
              .our-team__button{
                  display: flex;
                  align-items: center;
                  border-radius: 50px;
                  background: #252525;
                  padding: 10px 30px;
                  color: #FFF;
                  font-family: Gilroy-Medium;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  text-transform: capitalize;
              }
          }
      }
  }
  }
}

.logo-header__container {
  margin: 70px;
}

.wrapper_container {
  display: flex;
  height: 70px;
  padding: 15px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #FFF;
}

.main-container {
  display: flex;
}

.text-block__what_i-do {
  display: flex;
}

.image-main__container {
  flex: 1;
  display: block;
  background-image: url("../img/What/what-i-do-bgd.jpg");
  background-size: cover;
}

.wrapper-text__block {
  flex: 1;
  margin-top: 70px;
  padding-left: 110px;
  width: 980px;

  .slogan-text__block-what_i-do {
    display: flex;
    width: auto;
    align-items: flex-start;
    color: #252525;
    font-family: 'Gilroy', sans-serif;
    font-size: 150px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }

  .digital-design-text {
    color: #000;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    padding-top: 40px;
  }

  .digital-design-subtext {
    color: #000;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
  }

  .digital-design-description {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .border-bottom-line {
    width: 759px;
    height: 1px;
    background: #252525;
  }
}

.slogan_my__clients {
  text-align: center;
  color: #252525;
  font-family: 'Gilroy', sans-serif;
  font-size: 212px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
}

.my-clients__block {
  max-width: 100%;
  border-top: 1px solid #252525;
  margin-bottom: 50px;
  .content-my__clients {
    display: grid;
    grid-template-rows: repeat(2, 567px);
    grid-template-columns: repeat(3, 580px);
    justify-content: center;
    gap: 0px;
  }

  .item-card {
    padding: 30px;
    text-align: center;
    box-sizing: border-box;

    .wrapper-item__card {
      padding: 30px;
      box-sizing: border-box;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-bottom: 2px solid black;
    }

    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      border-right: 2px solid black;
    }

    .images-baner__clients {
      display: flex;
      justify-content: start;
    }

    .text-after__logo {
      color: #333;
      font-family: 'Gilroy', sans-serif;
      font-size: 40px;
      font-weight: 800;
      line-height: 44px;
      text-align: left;
      padding-top: 30px;
    }

    .text-after__logo_next {
      padding-top: 30px;
      text-align: left;
      color: #000;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      align-self: stretch;
    }

    .images-item__my-clients {
      display: flex;
      justify-content: start;
      padding-top: 40px;
    }

    .person-name__my-clients {
      display: flex;
      flex-direction: column;
      color: #000;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }

    .job-title__my-clients {
      color: #000;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      padding-left: 20px;
    }
  }
}

.container-block__contact {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  height: auto;
  border-top: 1px solid #252525;

  .text-block__slogan {
    padding-top: 70px;
    width: 871px;
    align-self: stretch;
  }

  .slogan-contacts {
    align-self: stretch;
    color: #333;
    font-family: 'Gilroy', sans-serif;
    font-size: 155px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }

  .text-block__contact {
    padding-top: 70px;
    width: 870px;
    align-self: stretch;
  }

  .text-after_slogan__contacts {
    color: #252525;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .text-after_slogan-contacts__next {
    margin-top: 30px;
    width: 870px;
    height: auto;
    color: #252525;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .button-container {
    position: relative;

    .button-block_contact {
      margin-top: 30px;
      padding: 10px 30px;
      width: 195px;
      height: auto;
      border-radius: 50px;
      background: #252525;
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      font-family: 'Gilroy-Medium', sans-serif;
      text-transform: capitalize;
    }

    &::after {
      content: url('../img/Contacts/Group%201.svg');
      position: absolute;
      top: 75%;
      left: 18%;
      transform: translateY(-50%);
    }
  }
}

.footer_container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-top: 1px solid #252525;
}

.footer-block__text {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  padding: 26px;
}

.text__footer {
  color: #333;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_footer__next {
  color: #333;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-media-icons {
  margin-right: 70px;
  padding: 26px;
}

.social-media-icons__img {
  padding-left: 10px;
}

